body {
  font-family: Arial, sans-serif;
  background-color: #cccccc; 
  margin: 0;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: '30px';
  min-height: 80vh;
  align